# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.sass-cache/
parts/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm, VS Code, and other editors
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables and secrets
.env

# Virtualenv
venv/
*.venv
