/* Theme Colors */

/* Default Theme */
/* :root {
    --main-menu-bg-color: #273647;
    --menu-item-color: #fff;
    --sidebar-bg-color: #112d4e;
    --main-content-bg-color: #fff;
    --main-content-text-color: #000000;
} */

:root {
    --main-menu-bg-color: #1C3334; /* Dark blue */
    --menu-item-color: #f6fcfb; /* Very light blue */
    --sidebar-bg-color: #1C3334; /* Slightly light dark blue */
    --main-content-bg-color: #f8f8f8; /* Dark gray */
    --main-content-text-color: #070707; /* Off white, almost light gray color */
}

/* Dark Theme */
/* :root.dark {
    --main-menu-bg-color: #273341;
    --menu-item-color: #fff;
    --sidebar-bg-color: #112d4e;
    --main-content-bg-color: #333333;
    --main-content-text-color: #fff;
} */

:root.dark {
    --main-menu-bg-color: #1C3334; /* Dark blue */
    --menu-item-color: #f6fcfb; /* Very light blue */
    --sidebar-bg-color: #1C3334; /* Slightly light dark blue */
    --main-content-bg-color: #2F4454; /* Dark gray */
    --main-content-text-color: #f6fcfb; /* Off white, almost light gray color */
}

/* Top Menu Bar */
#main-menu {
    width: 100%;
    background-color: var(--main-menu-bg-color);
    font-weight: bold;
    z-index: 1000;
}

#main-menu, #main-container {
    margin: 0 !important;
    border: none;
    border-radius: 0;
}

#main-menu #github-link .icon {
    margin-right: 0.5rem; /* Space between the icon and the text */
    align-self: center;
}

#main-menu #main-menu-right span {
    align-items: center;
}

#main-menu .item {
    color: var(--menu-item-color);
    
}

/* Toggle Button Icon */
#main-menu #toggle-button .content.icon:before {
    content: '\f0c9';
}

#main-menu #toggle-button .content.icon.close:before {
    content: '\f00d';
}

#main-menu #toggle-button span {
    font-weight: bold;
}

/* Title Header */
#main-menu #toggle-button {
    font-size: 1.3rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

/* Sidebar */
#sidebar-plugin-menu {
    overflow-y: auto; 
}

#sidebar-setting-menu {
    width: 100%;
}

#sidebar {
    position: fixed;
    background-color: var(--sidebar-bg-color);
    margin-top: 0 !important; /* Make sure there's no top margin */
    padding-top: 0 !important; /* Make sure there's no top padding */
    border: none;
}

#main-container .pusher {
    min-height: calc(100vh - 150px);
}

#sidebar div .item,
#sidebar .item,
#sidebar .item .icon {
    color: var(--menu-item-color);
}

#sidebar div {
    width: 100%;
}

/* Main Content */
#main-content {
    background-color: var(--main-content-bg-color);
    color: var(--main-content-text-color);
    padding: 1rem;
    height: 100%;
}
