/* Top Menu Bar */
#main-menu {
    width: 100%;
    background-color: #273647;
    font-weight: bold;
    z-index: 1000;
}

#main-menu, #main-container {
    margin: 0 !important;
    border: none;
    border-radius: 0;
}

#main-menu #github-link .icon {
    margin-right: 0.5rem; /* Space between the icon and the text */
    align-self: center;
}

#main-menu #main-menu-right span {
    align-items: center;
}

#main-menu .item {
    color: #fff;
    
}

/* Toggle Button Icon */
#main-menu #toggle-button .content.icon:before {
    content: '\f0c9';
}

#main-menu #toggle-button .content.icon.close:before {
    content: '\f00d';
}

#main-menu #toggle-button span {
    font-weight: bold;
}

/* Title Header */
#main-menu #toggle-button {
    font-size: 1.3rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

/* Sidebar */
#sidebar-plugin-menu {
    overflow-y: auto; 
}

#sidebar-setting-menu {
    width: 100%;
}

#sidebar {
    position: fixed;
    background-color: #112d4e;
    margin-top: 0 !important; /* Make sure there's no top margin */
    padding-top: 0 !important; /* Make sure there's no top padding */
    border: none;
}

#main-container .pusher {
    min-height: calc(100vh - 150px);
}

#sidebar div .item,
#sidebar .item,
#sidebar .item .icon {
    color: #fff;
}

#sidebar div {
    width: 100%;
}

/* Main Container */

