<!DOCTYPE html>
<html>
<head>
    <title>RoverOps</title>
    <link rel="stylesheet" href="/static/semantic-ui/semantic.min.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="/static/js/jquery-3.7.0.min.js"></script>
    <script src="/static/semantic-ui/semantic.min.js"></script>
    <script src="/static/js/main.js" type="module"></script>

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    
    <div class="ui top attached menu" id="main-menu">
        <a class="item" id="toggle-button">
            <i class="content icon"></i>
            <span>Menu</span>
        </a>
        <div class="ui right item borderless">
            <img class="ui image small" src="/static/img/logo-no-background-white.png" alt="RoverOps" id="logo">
        </div>
        <div class="right menu" id="main-menu-right">
            <div class="ui simple dropdown item right" id="quick-tasks-dropdown">
                <i class="tasks icon large"></i>
                <div class="menu" id="quick-tasks">
                    <div class="item">Sample Task In Progress <div class="ui icon tiny green loader inline"></div></div>
                    <div class="item">Sample Task Queued <i class="angle double right icon small red"></i></div>
                </div>
            </div>
            <div class="ui simple dropdown item right" id="notification-dropdown">
                <i class="bell icon large"></i>
                <div class="menu" id="notifications">
                    <div class="item">Sample Notification 1</div>
                    <div class="item">Sample Notification 2</div>
                </div>
            </div>
            <a class="item" href="https://github.com/jackarivera/RoverOps" target="_blank" id="github-link">
                <i class="github icon large"></i>
            </a>
        </div>
    </div>

       
    <div class="ui segment bottom attached pushable" id="main-container">
        <div class="ui left vertical inverted sidebar labeled icon menu fixed" id="sidebar">
            <div class="ui secondary vertical menu labeled icon top fluid" id="sidebar-plugin-menu">
            </div>
            <div class="ui secondary vertical menu labeled icon bottom fixed" id="sidebar-setting-menu">
                <a class="active item" href="#plugins">
                    <i class="plug icon"></i>
                    Plugins
                </a>
                <a class="item" href="#settings">
                    <i class="cog icon"></i>
                    Settings
                </a>
            </div>
        </div>
        <div class="pusher" id="main-content">
            <h1>Welcome to RoverOps Dashboard</h1>
        </div>
    </div>
 
</body>
</html>